<h3>Login</h3>
<form [formGroup]="signinForm">

    <div class="form-group">
        <label>Email</label>
        <input 
            formControlName="email" 
            class="form-control" 
            placeholder="email" 
            autofocus>
    </div>

    <div class="form-group">
        <label>Senha</label>
        <input
            formControlName="senha" 
            type="password" 
            class="form-control" 
            placeholder="senha">            
    </div>

    <button 
        [disabled]="signinForm.invalid" 
        type="submit" 
        class="btn btn-primary btn-block"
        (click)="login()"
        >
        login
    </button>

</form>
