<form [formGroup]="signinForm" class="form mt-4">

    <div class="form-group">
        <input 
            formControlName="email" 
            class="form-control" 
            placeholder="email" 
            autofocus>
    </div>

    <div class="form-group">
        <input
            formControlName="senha" 
            type="password" 
            class="form-control" 
            placeholder="senha">            
    </div>

    <button 
        [disabled]="signinForm.invalid" 
        type="submit" 
        class="btn btn-primary btn-block">
        login
    </button>

</form>
