.borda{
    text-align: justify;
    background: #FAFAFA;
    border-radius: 20px;
   
}
nav{
    margin-top: 3%;
    margin-left: auto;
}
.col-10{
    display: grid;
    grid-template-columns: repeat(3, 300px);
}
.card{
    width: 350px;
}
