
  <div class="row borda">
      
      <div *ngFor="let quadra of quadras" class="card col-3">
          <div class="card-header">
            {{quadra.tipoQuadra.nome}}
          </div>
          <div class="card-body">
            <blockquote>
                <p>Ginasio {{ quadra.ginasio.nome }}</p>
                <p>Cidade {{ quadra.ginasio.endereco.cidade.nome }}</p>
                <p>Bairro: {{ quadra.ginasio.endereco.bairro }}</p>
                <p>Valor Hora: ${{ quadra.preco | number | valorMonetario }}</p>
                <footer class="blockquote-footer">
                    teste 
                </footer>
            </blockquote>
          </div>
      </div>
  </div>