<button routerLink="cadastro" type="button" class="btn btn-primary">+ Cadastro</button>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Tipo Quadra</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quadra of quadras">
        <td>{{ quadra.id }}</td>
        <td>{{ quadra.nome }}</td>
        <td>{{ quadra.preco }}</td>
        <td>{{ quadra.tipoQuadra.nome }}</td> 
        <td><button [routerLink]="['/quadra/editar', quadra.id]"type="button" class="btn btn-primary"><i class="fas fa-pen"></i></button>
          <button (click)="onDelete(quadra.id)" type="button" class="btn btn-danger"> <i class="fas fa-trash-alt"></i> </button>
        </td>
      </tr>
    </tbody>
  </table>
